<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                  <serviceMetadata />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <client>
        <endpoint address="http://localhost:8733/FileTransferService"
                  binding="basicHttpBinding"
                  contract="FileTransferService.ITransferService"/>
      </client>
        <services>
            <service name="WCF.BufferedFileTransfer.Service.BufferedTransferService">
                <endpoint address="" binding="basicHttpBinding" contract="WCF.BufferedFileTransfer.Service.IBufferedTransferService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/FileTransferService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
